.navbar-main-container {
	display: inline-block;
	height: 40px;
	font-size: 20px;
	width: 100%;
	background: darkgreen;
	color: white;
	.left-panel {
		float: left;
		width: 20%;
	}

	.right-panel {
		width: 80%;
		display: inline-block;
		float: right;
	}
}