$tileDefaultHeight: 250px;
.single-tile-container {
	height: 40%;
	border: 1px solid rgba(50, 50, 50, 0.12);
	display: inline-block;
	padding: 20px;
	margin: 5px;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
	transition: scale 0.9s cubic-bezier(.19, .94, .57, 1.25);

	&:hover {
		transform: scale(1.007);
	}
}