$bouncingBoxHeight: 40px;
$bouncingBoxWidth: 10px;
$bouncingBoxPadding: 2px;

.bouncing-box-container {
	position: relative;
	height: calc(#{$bouncingBoxHeight} * 2);
	.bouncing-box {
		height: $bouncingBoxHeight;
		width: $bouncingBoxWidth;
		background: black;
		display: inline-block;
		animation: height-bounce 1.2s infinite cubic-bezier(.36, .86, .86, 1);
		position: absolute;
		bottom: 0;
		box-shadow: -1px 4px 10px -2px rgba(0, 0, 0, 0.61);
		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				animation-delay: $i * 0.1s;
				left: calc((#{$i} * #{$bouncingBoxWidth}) + (#{$i} * #{$bouncingBoxPadding}));
			}
		}

	}
}

@keyframes height-bounce {
	10% {
		height: $bouncingBoxHeight;
	}
	90% {
		height: calc(#{$bouncingBoxHeight} * 2);
		transform: scaleX(1.01)
	}
}